---
import "@/styles/modules/countermodule.less";

import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div class="container counter-wrapper" {...storyblokEditable(blok)}>
  <div class="countermodule">
    {
      blok.headline && (
        <div class="countermodule-headline">
          <h2>{blok.headline}</h2>
        </div>
      )
    }
    <div class="countermodule-content">
      <div class="flex gap-[48px]">
        {
          blok.counter_items?.map((counter) => {
            return (
              <div class="col w-4/12">
                <StoryblokComponent blok={counter} />
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</div>

<script>
  import "@/scripts/modules/counter.js";
</script>