---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div class="card" {...storyblokEditable(blok)}>
  <h2>{blok.title}</h2>
  <pre>{blok.featured_links}</pre>
</div>