---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div class="card" {...storyblokEditable(blok)}>
  <h2>{blok.label}</h2>
  <p>{blok.text}</p>
</div>

<style scoped lang="scss">
  .card {
    padding: 24px 24px 35px;
    background-color: #000;
    position: relative;
    width: 100%;
    transition: 0.25s ease;
    min-height: 352px;

    h2 {
      color: #fff;
      margin-bottom: 24px;
      line-height: 28px;
      font-size: 24px;
    }

    p {
      color: #fff;
      margin-bottom: 24px;
      line-height: 28px;
    }
  }
</style>
