---
import "@/styles/modules/pagenavigation.less";
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<section class="section-container background-0">
  <div
    class="flex-col sectionindex {f:if(condition:'{content.integrationSectionIndexType} == 1', then:'sectionindex-horizontal')} {f:if(condition:'{content.integrationSectionIndexType} == 0', then:'content-size-sl')}"
  >
    <div class="container">
      <div class="flex">
        <div class="w-full">
          <div class="sectionindex-headline">
            <h2>{blok?.headline}</h2>
          </div>
          <div class="sectionindex-content">
            <ul class="sectionindex-content-list">
              {
                blok?.navigation_items?.map((item) => {
                  return (
                    <li>
                      <a href={blok?.link?.story ? blok.link.story.full_slug : "#"}>{item.text}</a>
                    </li>
                  );
                })
              }
            </ul>
          </div>
        </div>
        <div class="sectionindex-content-border"></div>
      </div>
    </div>
  </div>
</section>
