---
import "@/styles/modules/footer.less";
---

<footer>
  <div class="footer">
    <div class="footer-main-container">
      <div class="container">
        <div class="flex gap-8">
          <div class="w-8/12">
            <div class="flex gap-12">
              <div class="w-3/12">
                <div class="footer-block">
                  <div class="footer-headline">News</div>
                  <ul>
                    <li><a href="/en/news/events">Events</a></li>
                    <li><a href="/en/news/press">Press</a></li><li>
                      <a
                        href="http://status.nfon.com/"
                        rel="noopener noreferrer"
                        target="_blank">NFON Status</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w-3/12">
                <div class="footer-block">
                  <div class="footer-headline">Partner</div>
                  <ul>
                    <li>
                      <a
                        href="https://partners.nfon.com/"
                        rel="noopener noreferrer"
                        target="_blank">Partner Portal</a
                      >
                    </li>
                    <li>
                      <a href="/en/partner/become-partner">Become a Partner</a>
                    </li><li>
                      <a href="/en/partner/partner-programme"
                        >Partner Programme</a
                      >
                    </li>
                  </ul>
                </div>
              </div><div class="w-3/12">
                <div class="footer-block">
                  <div class="footer-headline">About NFON</div>
                  <ul>
                    <li>
                      <a
                        href="https://corporate.nfon.com/en/"
                        rel="noopener noreferrer"
                        target="_blank">Corporate</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://corporate.nfon.com/en/careers/careers"
                        rel="noopener noreferrer"
                        target="_blank">Careers</a
                      >
                    </li><li>
                      <a
                        href="https://corporate.nfon.com/en/about-nfon/management"
                        rel="noopener noreferrer"
                        target="_blank">Management</a
                      >
                    </li><li>
                      <a
                        href="https://corporate.nfon.com/en/investor-relations/ir-at-a-glance"
                        rel="noopener noreferrer"
                        target="_blank">Investor Relations</a
                      >
                    </li><li>
                      <a
                        href="https://corporate.nfon.com/en/compliance"
                        rel="noopener noreferrer"
                        target="_blank">Compliance</a
                      >
                    </li>
                  </ul>
                </div>
              </div><div class="w-3/12">
                <div class="footer-block">
                  <div class="footer-headline">Customers</div>
                  <ul>
                    <li>
                      <a
                        href="https://start.cloudya.com/auth/login"
                        rel="noopener noreferrer"
                        target="_blank">Cloudya Login</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://portal.nfon.com/en/"
                        rel="noopener noreferrer"
                        target="_blank">Admin Portal</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="w-4/12">
            <div class="footer-social">
              <ul>
                <li>
                  <a
                    href="https://www.linkedin.com/company/nfon"
                    target="_blank"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      height="40"
                      viewBox="0 0 40 40"
                      width="40"
                      ><path
                        clip-rule="evenodd"
                        d="M15.78 13.0747C15.7916 14.1773 14.9559 15.0595 13.6211 15.0595H13.5979C12.3095 15.0595 11.4854 14.1773 11.4854 13.0747C11.4854 11.9488 12.3443 11.0898 13.6443 11.0898C14.9559 11.0898 15.7684 11.9488 15.78 13.0747ZM15.5362 16.6265V28.1292H11.7059V16.6265H15.5362ZM24.9148 16.3595C22.8804 16.3595 21.9714 17.4737 21.4675 18.2614V16.6265H17.6488C17.6488 16.6265 17.6952 17.7059 17.6488 28.1292H21.4675V21.7104C21.4675 21.3622 21.5023 21.0256 21.5952 20.7702C21.8738 20.0854 22.5005 19.3774 23.5568 19.3774C24.938 19.3774 25.4952 20.4336 25.4952 21.9774V28.1292H29.3139V21.5363C29.3139 18.0077 27.4336 16.3595 24.9148 16.3595Z"
                        fill="white"
                        fill-rule="evenodd"></path>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/NFONcom/" target="_blank"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      height="40"
                      viewBox="0 0 40 40"
                      width="40"
                      ><path
                        d="M24.7885 10.3112V13.3754H22.9661C21.5384 13.3754 21.2714 14.0603 21.2714 15.0469V17.2406H24.6724L24.2197 20.6763H21.2714V29.4862H17.7196V20.6763H14.7598V17.2406H17.7196V14.7103C17.7196 11.7737 19.5187 10.1719 22.142 10.1719C23.3956 10.1719 24.4751 10.2647 24.7885 10.3112Z"
                        fill="white"></path>
                    </svg>
                  </a>
                </li><li>
                  <a href="https://twitter.com/NFONcom" target="_blank"
                    ><svg height="40" viewBox="0 0 40 40" width="40"
                      ><path
                        d="m22.2 19.2 6.5-7.5h-1.8L21.4 18 17 11.7h-5.4l6.8 9.8-6.8 7.9h1.8l5.8-6.7 4.6 6.7v.1h5.4l-7-10.3zm-6-6.1 10.5 15h-2l-10.5-15h2z"
                        fill="white"></path></svg
                    >
                  </a>
                </li><li>
                  <a
                    href="https://www.youtube.com/channel/UCYqojp9gb_ZRM7ZX97-IxUA"
                    target="_blank"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      height="40"
                      viewBox="0 0 40 40"
                      width="40"
                      ><path
                        clip-rule="evenodd"
                        d="M27.2775 12.6679C27.2775 12.6679 24.3757 12.459 19.9998 12.459C15.6239 12.459 12.7221 12.6679 12.7221 12.6679C12.6825 12.6724 12.6382 12.6765 12.5898 12.681C12.1424 12.7223 11.3451 12.7959 10.6329 13.5501C10.6329 13.5501 9.99446 14.1768 9.80875 15.6161C9.58821 17.2992 9.59971 18.9822 9.59971 18.9822V20.5608C9.59971 20.5608 9.58821 22.2438 9.80875 23.9269C9.99446 25.3545 10.6329 25.9929 10.6329 25.9929C11.2932 26.6825 12.1324 26.7788 12.6608 26.8395C12.764 26.8513 12.8553 26.8618 12.9311 26.8751C12.9311 26.8751 14.5909 27.0376 19.9998 27.084C24.3757 27.084 27.2775 26.8635 27.2775 26.8635C27.3176 26.8589 27.3625 26.8548 27.4115 26.8502C27.8592 26.809 28.6554 26.7357 29.3668 25.9929C29.3668 25.9929 30.0052 25.3545 30.1909 23.9269C30.4114 22.2438 30.3999 20.5608 30.3999 20.5608V18.9822C30.3999 18.9822 30.4114 17.2992 30.1909 15.6161C30.0052 14.1768 29.3668 13.5501 29.3668 13.5501C28.6546 12.7959 27.8572 12.7223 27.4099 12.681C27.3615 12.6765 27.3172 12.6724 27.2775 12.6679ZM23.4704 19.5626L17.8525 22.4644V16.626L23.4704 19.5626Z"
                        fill="white"
                        fill-rule="evenodd"></path>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-container">
      <div class="container">
        <div class="flex">
          <div class="w-8/12">
            <div class="footer-metalinks">
              <ul>
                <li>
                  <a
                    href="/en/legal/gtc-sla"
                    rel="noopener noreferrer"
                    target="_blank">GTC-SLA</a
                  >
                </li>
                <li>
                  <a
                    href="/en/legal/legal-notice"
                    rel="noopener noreferrer"
                    target="_blank">Legal Notice</a
                  >
                </li><li>
                  <a
                    href="/en/legal/data-protection"
                    rel="noopener noreferrer"
                    target="_blank">Data Protection</a
                  >
                </li><li>
                  <a
                    href="/en/trust-center"
                    rel="noopener noreferrer"
                    target="_blank">Trust Center</a
                  >
                </li><li>
                  <a href="javascript:" onclick="UC_UI.showSecondLayer();"
                    >Cookie settings</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="w-4/12">
            <div class="footer-copyright">
              <p>© 2024 - NFON | All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
